.contact-fld {
    --contact-field-color: currentColor;
    --contact-field-color-hover: currentColor;
    --contact-field-bg: transparent;
    --contact-field-hover-bg: transparent;
    --contact-field-border-radius: 0;
    --contact-field-padding-x: 0;
    --contact-field-padding-y: 0;
    --contact-field-img-size: 42px;
    --contact-field-img-border-radius: .75rem;
    --contact-field-title-font-size: 1rem;
    --contact-field-title-font-weight: regular;
    --contact-field-info-font-size: .75rem;
    --contact-field-info-color: currentColor;
}